
*{
    color: #000000;   
}
.header {    
    height: 110px;
    background-color:#AAAAAA;    
    font-size: 2.0em;    
    display: flex; 
    align-items: center;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;    
    padding-right: 40px;    
}
.hdeaderInfo {
    margin-left: 40px;      
}

a:link{
	text-decoration: none;
}

.website:hover{    
    color:#FF0000 ;
    border-bottom:2px solid black;
}
p {
    font-size: 1.8em; 
    padding-left: 100px; 
    padding-left: 100px; 
    font-family: 'Raleway', sans-serif; 
}
.secondp {
    margin-top: 80px; 
}
.home {
    clear: both;
    margin-top: 80px;
}
.aboutUs, .myprofile {
    margin-top: 80px;
}
.allProduct {
    display: block;
    font-size: 1.8em; 
    padding-left: 100px; 
    padding-left: 100px; 
    font-family: 'Raleway', sans-serif; 
    margin-top: 80px;
}
.productInfo {
    display: block;
    font-size: 1.8em; 
    padding-left: 100px; 
    padding-left: 100px; 
    font-family: 'Raleway', sans-serif; 
    color:#FF0000 ;
    margin-top: 20px;
    background-color: #ffffff;    
    border: none;
}
button{
    outline:none;
}